<!-- Count numbers are static make it dynamic -->

<div class="stat">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-book fa-3x"></i>
      <span class="stat-count highlight">5492</span>
      <div class="milestone-details"><%=t :books %></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-university fa-3x"></i>
      <span class="stat-count highlight">2</span>
      <div class="milestone-details"><%=t :libraries %></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-user fa-3x"></i>
      <span class="stat-count highlight">2580</span>
      <div class="milestone-details"><%=t :authors %></div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-print fa-3x"></i>
      <span class="stat-count highlight">2574</span>
      <div class="milestone-details"><%=t :publishers %></div>
    </div>
  </div>
</div><!-- stat -->