<div class="user-enquire">
  Do you have an account in Wiki? <br >
  <div>
    <input type="radio" id="wiki1" name="wikiaccount" value="1" />
    <label for="wiki1"><span></span>Yes</label>
    <input type="radio" id="wiki2" name="wikiaccount" value="2" />
    <label for="wiki2"><span></span>No</label>
  </div>


  <div id="blk-1" class="toHide" style="display:none">
    <% if @wiki_book['is_present_in_wiki'] %>
    Update a article <%= @wiki_book['book_name'] %> in Wiki.
    <% else %>
    create a new page <%= @wiki_book['book_name'] %>(ಪುಸ್ತಕ)
    <% end %>
    <br />
    <%= link_to "Next", "javascript:void(null)",onclick: "showNextDiv(1);" , class: "btn btn-success wiki-btn"%>
  </div>


  <div id="blk-2" class="toHide" style="display:none">
    Please create your account in Wikipedia.<br />
    <%= link_to "Create Account", "https://kn.wikipedia.org/w/index.php?title=%E0%B2%B5%E0%B2%BF%E0%B2%B6%E0%B3%87%E0%B2%B7:UserLogin&returnto=1676&type=signup", onclick: "submitWikiInfo('#{@wiki_book['book_name']}', 'false');"  , target: "_blank" , class: "btn btn-success wiki-btn"%>
  </div>

</div>




<script type="text/javascript">
  function submitWikiInfo(book,is_account){
    $.ajax({
    //Your ajax code here to submit from via AJAX. refer jquery site . I gave sample eg.
    url: "/books/wiki_info",
    data: "book=" + book + "&& is_account=" + is_account
  });
  }
</script>