<div class="about-us-text">

  <p class="into-header">ಕನ್ನಡ ಸಂಚಯ : ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆಯ ಬಗ್ಗೆ</p>

  <p>ಕನ್ನಡ ಭಾಷೆ ಮತ್ತು ತಂತ್ರಜ್ಞಾನ ಕ್ಷೇತ್ರದಲ್ಲಿ ಕೆಲಸ ಮಾಡುವುದು ನಮ್ಮ ತಂಡದ ಉದ್ದೇಶವಾಗಿದೆ. ಭಾಷಾ ಸಂಶೋಧಕರಿಗೆ ಸಂಶೋಧನಾ ವೇದಿಕೆಯೊಂದನ್ನು ನಿರ್ಮಿಸುವುದು ನಮ್ಮ ಗುರಿ. ಅಂತರ್ಜಾಲದ ಮೂಲಕ ವೆಬ್ ಹಾಗೂ ಮೊಬೈಲ್ ತಂತ್ರಾಂಶಗಳ ಸಹಾಯದಿಂದ ಮುಕ್ತವಾಗಿ ಸಂಶೋಧಕರಿಗೆ, ಸಂಶೋಧನಾ ಸಲಕರಣೆಗಳನ್ನು ಅಭಿವೃದ್ಧಿಪಡಿಸುವಲ್ಲಿ ನಮ್ಮ ತಂಡ ತೊಡಗಿಕೊಂಡಿದೆ. ನಮ್ಮ ಆಸಕ್ತಿ ವಾಣಿಜ್ಯ ಅಥವಾ ಲಾಭದ ಉದ್ದೇಶವನ್ನು ಹೊಂದಿರದೆ ಶಾಸ್ತ್ರೀಯ ಕನ್ನಡ ಸಾಹಿತ್ಯದ ಸಂಶೋಧನೆಯ ತಾಂತ್ರಿಕ ಸಾಮರ್ಥ್ಯವನ್ನು ಬಳೆಸುವುದೇ ಆಗಿದೆ.</p>

  <p>ನಮ್ಮ ಬಗ್ಗೆ ಹೆಚ್ಚು ತಿಳಿಯಲು ಈ ಕೆಳಗಿನ ಲಿಂಕ್‌ಗಳನ್ನು ಸಂಪರ್ಕಿಸಿ:</p>

  <ul>
    <li><a href="https://sanchaya.org" target="_blank">Sanchaya - ಸಂಚಯ</a></li>
    <li><a href="https://sanchifoundation.org" target="_blank">Sanchi Foundation - ಸಂಚಿ ಪ್ರತಿಷ್ಠಾನ</a></li>
  </ul>

  <hr />

  <p class="into-header">ಪುಸ್ತಕ ಸಂಚಯದ ಬಗ್ಗೆ:</p>

  <p>ಸ್ಥಳೀಯ ಹಾಗೂ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ ಪುಸ್ತಕಗಳನ್ನು ಸುಲಭವಾಗಿ ಒಂದೆಡೆ ಅಂತರಜಾಲದ ಮೂಲಕ ಹುಡುಕಲು ಸಾಧ್ಯವಾಗಿಸುವ ಸರ್ಚ್ ಎಂಜಿನ್ ಪುಸ್ತಕ ಸಂಚಯವಾಗಿದ್ದು, ಸಧ್ಯ ಸಮೂಹ ಸಂಚಯದ ಮೂಲಕ ಕನ್ನಡೀಕರಣಗೊಂಡ 'ಒಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯ' ಪುಸ್ತಕಗಳನ್ನು ಒಳಗೊಂಡಿದೆ. ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ಜನರೇ ತಮ್ಮ ಸುತ್ತಲಿನ ಗ್ರಂಥಾಲಯಗಳ ಪರಿವಿಡಿಯನ್ನು ತಯಾರಿಸುತ್ತ, ಅದನ್ನು ಜಗತ್ತಿಗೆ ತೆರೆದಿಡಬಹುದು. ಲೇಖಕರು, ಪ್ರಕಾಶಕರೂ ಕೂಡ ತಮ್ಮ ಪುಸ್ತಕಗಳ ಇರುವಿನ ಬಗ್ಗೆ ಮಾಹಿತಿಯನ್ನು ತಾವೇ ಸೇರಿಸುತ್ತಾ ಹೋಗಬಹುದು.</p>

  <p>ಇಲ್ಲಿ ಕ್ರೌಡ್ಸೋರ್ಸಿಂಗ್ ಮೂಲಕ ಸಂಗ್ರಹಿಸಲಾಗುವ ಎಲ್ಲ ಮಾಹಿತಿಯನ್ನು ಮುಕ್ತವಾಗಿರುವಂತೆ ಕ್ರಿಯೇಟಿವ್ ಕಾಮನ್ಸ್ ಪರವಾನಗಿಯಡಿ ಇಟ್ಟು, ಕಾಲಕಾಲಕ್ಕೆ ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಎಲ್ಲ ಪುಸ್ತಕ, ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರ ಪುಟಗಳನ್ನು ಉಲ್ಲೇಖಗಳೊಂದಿಗೆ ಹೆಣೆಯಲು ಪ್ರಯತ್ನಿಸುತ್ತೇವೆ.</p>

  <hr />

  <p class="into-header">ಸಮೂಹ ಸಂಚಯ (<a href="https://samooha.sanchaya.net" target="_blank">samooha.sanchaya.net</a>) ಬಗ್ಗೆ :</p>

  <p>ಸಮುದಾಯದ ಒಗ್ಗಟ್ಟಿನ ಮೂಲಕ ಕನ್ನಡದ ತಾಂತ್ರಿಕ ಬೆಳವಣಿಗೆಗೆ ಆಗಬೇಕಿರುವ ಅನೇಕ ಕೆಲಸಗಳನ್ನು 'ಕ್ರೌಡ್ ಸೋರ್ಸಿಂಗ್' ಮೂಲಕ ಸಾಧ್ಯವಾಗಿಸುವ ಒಂದು ವೇದಿಕೆ ಇದು.</p>

  <hr />

  <p class="into-header">ಕನ್ನಡ ಸಂಚಯದ ಇತರೆ ಯೋಜನೆಗಳು:</p>

  <p>
    ೧. ವಚನ ಸಂಚಯ : <a href="https://vachana.sanchaya.net" target="_blank">vachana.sanchaya.net</a><br />
    ೨. ದಾಸ ಸಂಚಯ : <a href="https://daasa.sanchaya.net" target="_blank">daasa.sanchaya.net</a><br />
    ೩. ಪುಸ್ತಕ ಸಂಚಯ : <a href="https://pustaka.sanchaya.net" target="_blank">pustaka.sanchaya.net</a><br />
    ೪. ಅರಿವಿನ ಅಲೆಗಳು: <a href="https://arivu.sanchaya.net" target="_blank">arivu.sanchaya.net</a><br />
    ೫. ಹೆಜ್ಜೆ : <a href="https://hejje.sanchaya.net" target="_blank">hejje.sanchaya.net</a><br />
  </p>

  <hr />

  <p class="into-header">ಸಂಚಯ ಸಮುದಾಯ :</p>
  <p><a href="https://sanchaya.net" target="_blank">sanchaya.net</a></p>

</div>