<div class="about-us-text"> 

<p>
ಹೆಚ್ಚಿನ ಸಹಾಯಕ್ಕೆ : info @ sanchaya dot org ಗೆ ಇಮೇಲ್ ಮಾಡಿ. 
</p>
              <p><span class='into-header'> ಕನ್ನಡ ಸಂಚಯದ ಇತರೆ ಯೋಜನೆಗಳು:  </span>  <p>
                ೧. ವಚನ ಸಂಚಯ : <a href="https://vachana.sanchaya.net"> https://vachana.sanchaya.net </a> <br />
                ೨. ದಾಸ ಸಂಚಯ : <a href="https://daasa.sanchaya.net"> https://daasa.sanchaya.net </a>   <br />
                ೩. ಪುಸ್ತಕ ಸಂಚಯ : <a href=" https://pustaka.sanchaya.net">  https://pustaka.sanchaya.net </a> <br />
                ೪. ಅರಿವಿನ ಅಲೆಗಳು: <a href="https://arivu.sanchaya.net"> https://arivu.sanchaya.net</a>  <br />
                ೫. ಹೆಜ್ಜೆ : <a href="https://hejje.sanchaya.net">https://hejje.sanchaya.net</a>  <br />
                <p><span class='into-header'> ಸಂಚಯ ಸಮುದಾಯ :</span> <a href="https://sanchaya.net ">https://sanchaya.net </a>   <p>
                </div>
