<div class="page-header main-page-header">
  <h1>  <%= image_tag('logo.png', style: "width: 35%") %> </h1>
  <div class="form-group">
    <%= form_tag root_path, method: :get do %>
    <%= search_field_tag "search" ,params[:search], autofocus: true , class: 'form-control' %>
    <% end %>
  </div>
</div>

<% if params[:search] %>
<div class="word-lists"> 
  <%= render 'book_lists' %>
</div>
<% end %>

