.stat {
	/*margin:150px auto;*/
	text-align:center;
}
.highlight {
	color:#111;
	padding:20px 0;
	font-weight:bold;
	display:block;
	overflow:hidden;
	margin-bottom:0;
	font-size:48px;
}
.stat i {
	color:#f7c221;
}
.milestone-details {
	font-weight:bold;
	font-size:18px;
	color:#999;
}
