<div class="intoduction-text">
    <p align="center">
      ಈ ವಿಭಾಗ/ವಿಷಯಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ಪುಸ್ತಕಗಳ ಪಟ್ಟಿ: ‍<%= link_to category['kn'], "/categories/#{category['id']}" %>
    </p>
  </div>
  <hr />
<div class="word-lists"> 
  <%= render 'books/book_lists' %>
</div>
