  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to("https://www.facebook.com/kannadasanchaya", target: "_blank" , class: "social-nav-right ") do %>
      <i class="fa fa-facebook fa-2x"></i>
      <% end %>
    </li>
    <li>
      <%= link_to("https://twitter.com/kannadasanchaya" , target: "_blank",class: "social-nav-right ") do %>
      <i class="fa fa-twitter fa-2x"></i> 
      <% end %>
    </li>
  </ul>
